In [1]:
import pandas as pd
import random
import nltk
nltk.download('averaged_perceptron_tagger')

/Users/dylangleason/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/dylangleason/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [2]:
df = pd.read_csv('/Users/dylangleason/Downloads/SWOW-EN.complete.csv')
df

,Unnamed: 0,id,participantID,created_at,age,nativeLanguage,gender,education,city,country,section,cue,R1Raw,R2Raw,R3Raw,R1,R2,R3
0,1,1500428,130332,2018-01-07 04:29:38,61,United States,Ma,5.0,Pepperell,United States,seed,there,position,place,point,position,place,point
1,2,1500426,130332,2018-01-07 04:29:38,61,United States,Ma,5.0,Pepperell,United States,seed,true,honest,fact,indisputable,honest,fact,indisputable
2,3,1500424,130332,2018-01-07 04:29:38,61,United States,Ma,5.0,Pepperell,United States,seed,beat,drum,policeman,beatnik,drum,policeman,beatnik
3,4,1500438,130332,2018-01-07 04:29:38,61,United States,Ma,5.0,Pepperell,United States,seed,like,affection,simile,compare,affection,simile,compare
4,5,1500430,130332,2018-01-07 04:29:38,61,United States,Ma,5.0,Pepperell,United States,seed,telephone,receiver,hamdset,wires,receiver,handset,wires
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356357,1356358,1530300,132506,2018-08-10 01:56:27,29,Canada,Ma,5.0,Melbourne,Australia,set1,strange,stranger,weird,mask,mask,weird,stranger
1356358,1356359,1530290,132506,2018-08-10 01:56:27,29,Canada,Ma,5.0,Melbourne,Australia,set1,sunset,clause,sky,sea,sea,sky,clause
1356359,1356360,1530291,132506,2018-08-10 01:56:27,29,Canada,Ma,5.0,Melbourne,Australia,set1,useless,worth,worthless,pitty,pitty,worthless,worth
1356360,1356361,1530284,132506,2018-08-10 01:56:27,29,Canada,Ma,5.0,Melbourne,Australia,set1,volume,key,music,loud,loud,music,key
1356361,1356362,1530288,132506,2018-08-10 01:56:27,29,Canada,Ma,5.0,Melbourne,Australia,set1,whenever,always,where,who,who,where,always

In [3]:
df_strength = pd.read_csv('/Users/dylangleason/Downloads/strength.SWOW-EN.R123.csv', sep='\t')
df_strength

             cue response  R123    N  R123.Strength
0              a      one    32  270       0.118519
1              a      the    27  270       0.100000
2              a       an    19  270       0.070370
3              a        b    14  270       0.051852
4              a   single     9  270       0.033333
...          ...      ...   ...  ...            ...
978903  zucchini     thin     1  283       0.003534
978904  zucchini   veggie     1  283       0.003534
978905  zucchini  veggies     1  283       0.003534
978906  zucchini   weapon     1  283       0.003534
978907  zucchini     what     1  283       0.003534

[978908 rows x 5 columns]

In [ ]:
def get_seed():
    random_number = random.randint(0, 978908)
    seed = df_strength['cue'].iloc[random_number]
    tag = nltk.pos_tag([seed])

    if tag[0][1] == 'NN':
        return seed
    else:
        return (get_seed())

seed = (get_seed())
seed_strength = df_strength[df_strength['cue'].str.match(seed, na=False)]
print(seed, seed_strength)

In [ ]:
def get_script2():
    random_number = random.randint(0, 978908)
    script2 = df_strength['cue'].iloc[random_number]
    tag = nltk.pos_tag([script2])

    if not seed_strength['cue'].str.contains(script2).any() and tag[0][1] == 'NN':
        return script2
    else:
        return (get_script2())
    
script2 = (get_script2())
script2_strength = df_strength[df_strength['cue'].str.match(script2, na=False)]
print(script2, script2_strength)

In [4]:
#Randomly determine seed concept from list of cues, sort for nouns
def get_seed():
    random_number = random.randint(0, 978908)
    seed = df_strength['cue'].iloc[random_number]
    tag = nltk.pos_tag([seed])

    if tag[0][1] == 'NN':
        return seed
    else:
        return (get_seed())

seed = (get_seed())
seed_strength = df_strength[df_strength['cue'].str.match(seed, na=False)]


#Randomly search for a second concept, ensure there is no relation to first concept, sort for nouns
def get_script2():
    random_number = random.randint(0, 978908)
    script2 = df_strength['cue'].iloc[random_number]
    tag = nltk.pos_tag([script2])

    if not seed_strength['cue'].str.contains(script2).any() and tag[0][1] == 'NN':
        return script2
    else:
        return (get_script2())
    
script2 = (get_script2())
script2_strength = df_strength[df_strength['cue'].str.match(script2, na=False)]



def get_script3(script3_index):
    
    script3 = seed_strength['response'].iloc[script2_index]
    tag = nltk.pos_tag([script2])

    if seed_strength['response'].str.contains(script2).any() and tag[0][1] == 'JJ':
        return script2
    else:
        script2_index += 1
        if script2_index >= len(seed_strength):
            return None
        else:
            return (get_script2(script2_index))

script2 = (get_script2())
script2_strength = df_strength[df_strength['cue'].str.match(script2, na=False)]
if script3 is not None:
    print('What do', seed, 'and', script2, 'have in common? They both have', script3,'!')

NameError: name 'script3' is not defined

In [13]:
def get_seed():
    random_number = random.randint(0, 978908)
    seed = df_strength['cue'].iloc[random_number]
    tag = nltk.pos_tag([seed])

    if tag[0][1] == 'NN':
        return seed
    else:
        return (get_seed())

seed = (get_seed())
seed_strength = df_strength[df_strength['cue'].str.match(seed, na=False)]
script2_index = int(len(seed_strength)/3)

def get_script2(script2_index):
    
    script2 = seed_strength['response'].iloc[script2_index]
    tag = nltk.pos_tag([script2])

    if seed_strength['response'].str.contains(script2).any()and tag[0][1] == 'JJ':
        return script2
    else:
        script2_index += 1
        if script2_index >= len(seed_strength):
            return None
        else:
            return (get_script2(script2_index))

script2 = (get_script2(script2_index))
script2_strength = df_strength[df_strength['response'].str.match(script2, na=False)]


script3_index = 0

def get_script3(script3_index):
    
    script3 = script2_strength['cue'].iloc[script3_index]
    tag = nltk.pos_tag([script3])

    if tag[0][1] == 'NN':
        return script3
    else:
        script3_index += 1
        if script2_index >= len(seed_strength):
            return None
        else:
            return (get_script3(script3_index))

script3 = (get_script3(script3_index))
script3_strength = df_strength[df_strength['cue'].str.match(script3, na=False)]


print( script3, 'is like', seed, 'they\'re both', script2)
print('\n')
print('seed to script 2 score:', seed_strength['R123.Strength'].iloc[script2_index])
print('script3 to script 2 score:', script2_strength['R123.Strength'].iloc[script3_index])

achiever is like board game they're both competitive


seed to script 2 score: 0.0033898305084745
script3 to script 2 score: 0.003831417624521